<div id="trips-new-background">

</div>
    <h1 id="welcome-user-name">Hi,<%="  #{@user.name}" %>.</h1>
<div id="trip-new-content">
  <div id="trip-new-text">


    <p id="destination-q">Where do you want to go?</p>
<!--
<div class="ui selection dropdown">
  <input type="hidden" name="gender">
  <i class="dropdown icon"></i>
  <div class="default text">Gender</div>
  <div class="menu">
    <div class="item" data-value="1">Male</div>
    <div class="item" data-value="0">Female</div>
  </div>
</div> -->
    <%= form_for @trip do |f| %>
    <%= f.collection_select :location_id, @locations, :id, :city, {}, {class: 'ui selection dropdown'} %>
<br><br>
    <%= f.submit "Let's Plan My Trip!", class: 'ui grey button' %>
    <% end %>
  </div>
</div>


<!-- new TypeIt('.type-it', {
    strings: 'This is my string!'
}); -->
