<h1>Landmarks#show</h1>

<h1><%= @landmark.name %></h1>

<h3><%= @landmark.description %></h3>

#button with option to add to itinerary
#if clicked, alert pops up notifiying user that landmark was added to itineray
<%= button_to "Add to my itinerary",  landmark_path(@landmark), params: {trip_landmark: {trip_id: session[:trip_id], landmark_id: @landmark.id}}%>
<h3><%= flash[:added] %></h3>
three options:
view more landmarks?
view restaurants?
view itinerary?

#add image url
