
<% if current_user && @user != nil && current_user.id == @user.id %>


  <% if @user.trips.count > 0 %>
    <h2>My Trips</h2>

    <% @user.trips.each_with_index do |trip, i| %>
      <p> <%= link_to "#{i+1}: #{trip.location.city}", trip_path(trip) %> </p>
    <% end %>


  <% else %>
    <h2>You haven't planned a trip yet</h2>
  <% end %>

  <h3><%= link_to "Create New Trip", new_trip_path %></h3>

<% else %>
  <h1>You do not have access to another user's itinerary</h1>
<% end  %>


<!--must show landmarks and restaurants they are visiting-->
