<div id="my-trips-background"></div>

<p class="type-it" id="my-trip-text"></p>

<!-- <h2 id="my-trips-title">My Trips</h2> -->


<div id="my-trips-content">

  <% if current_user && @user != nil && current_user.id == @user.id %>


  <% if @user.trips.count > 0 %>

  <% @user.trips.each_with_index do |trip, i| %>
  <p><%= link_to "#{i+1}: #{trip.location.city} | See Itinerary", trip_path(trip), id: "trip-itinerary-link" %>
    <span id="trip-delete-link"><%= link_to "Delete", trip_path(trip), method: "delete", :data => {:confirm => "Delete your trip to #{trip.location.city}?"} %></span></p>
  <% end %>


  <% else %>
  <h2 id="no-trips-title">You Have No Trips Planned!</h2>
  <% end %>



  <% else %>
  <h1>You do not have access to another user's itinerary</h1>
  <% end  %>
</div>

<%= link_to "Create New Trip", new_trip_path, id: "create-trip-link" %>

<script type="text/javascript">
  new TypeIt('.type-it', {
    speed: 200,
    strings: "My Trips."
});

let myTripTitle = document.getElementById('my-trip-text');

      myTripTitle.style.position = 'absolute';
      myTripTitle.style.top = '2%';
      myTripTitle.style.paddingLeft = '2%';
      // userItineraryTitle.style.'font-family' = ('Kalam', cursive);

</script>


<!--must show landmarks and restaurants they are visiting-->
