<div id="background">
  <div id="splash-content">

      <h1 id="title">"Insert App Name Here..."</h1>
      <button class="ui inverted orange button"><%= link_to 'Login', login_path %></button>
      <button class="ui inverted orange button"><%= link_to 'Signup', new_user_path %></button>

  </div>


</div>
