<div id="splash-background">
</div>

<div id="splash-content">
    <div id="splash-text">
      <h1 id="title">Travel Pal</h1>
      <button class="ui red button"><%= link_to 'Login', login_path %></button>
      <button class="ui red button"><%= link_to 'Signup', new_user_path %></button>
    </div>




</div>
