// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#places-background{
  background-image: asset-url('wood.png');
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100%;
  opacity: .6;
}

#places-content {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  margin: auto;
  background-color: rgba(150, 150, 150, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 90%;
}

#places-list-content {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
}

#list-of-possible-activities{
  width: 60%;
  margin: auto;
  font-size: 2em;
  font-family: 'Patrick Hand', cursive;

}

#place-view-itinerary{
  position: absolute;
  left: 2px;
  top: 7px;

}

.place-description{
  width: 75%;
  margin: auto;
}

.place_image img {
  margin-bottom: 10px;
}

#place-rating {
  padding-top: 7.5%;
  text-align: center;
}

#place-name {
  padding: 25px 0px;
}

.places-text{
  // padding-top: 2%;
  text-align: justify;
  float: left;
  width: 40%;
  font-size: 1.3em;
  font-family: 'Noto Sans SC', sans-serif;

}

.places-image{
  float: right;
  // width: 50%;
  margin-right: 60px;
  // overflow: hidden;
}

.button-container{
  width: 40%;
  margin: 0 auto;
  // padding-top: 30px;
  height: 8%;
  clear: both;
}

.place-phone{
  float: left;
}

.itinerary-return{
  float: right;
}

#search-form-div{
  width: 80%;
  height: 6.5%;
  margin: auto;
  margin-top: 4%;
  border: 1px solid #9A9A9A;
}

#find-activities-button{
  margin: 2% auto;
}

#places-list{
  font-size: .8em;
}

#link-color{
  color: #21ba45 !important;
}
