// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//CSS FOR TRIPS SHOW (itinerary instance)

.type-it{
  color: black;
  font-family: 'Inconsolata', monospace;
}

#headed-to-text{
  font-family: 'Inconsolata', monospace;
  font-size: 2em;
}

#agenda-text{
  font-family: 'Inconsolata', monospace;
  font-size: 1.4em;

}

#itinerary-user-name-text{
  font-size: 7em;
  position: absolute;
  top: 30;
}

#my-itinerary-background{
  background-image: asset-url('wood.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: .8;
}

#my-itinerary-content {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  margin: auto;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

#itinerary-user-name-text{
  position: absolute;
  top: 0;
  left: 3%;
  font-size: 3em;
}

.my-itinerary-buttons{
  float: left;
  padding: 3px;
  margin-right: 10%;
  font-size: 1.3em;
  width: 23%;
}

#my-itinerary-button-options{
  padding-left: 9.6%;
  height: 10%;
  width: 69%;
  margin: auto;
  position: absolute;
  top: 90%;
  left: 15%;
}


.trip-link {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 2em;
  float: left;
  margin-left: 15px;
}
.delete-link {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 2em;
  float: right;
  margin-right: 15px;
}


//CSS FOR TRIPS NEW
#trips-new-background{
  background-image: asset-url('travelpal/art-artist-background-316466.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 1;
}

#trip-new-content {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  margin: auto;
  background-color: #DFDFDF;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 28%;
}

#trip-new-text{
  width: 100%;
  height: 100%;
  padding-top: 5%;
  opacity: 1;
}

#welcome-user-name{
  position: absolute;
  font-size: 3em;
  top: 20%;
  left: 42.5%;
  width: 20%;
  height: 10%;
}

#destination-q {
  font-size: 1.5em;

}
