// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//CSS FOR USER SHOW (all my trips)
#my-trips-background{
  background-image: asset-url('/travelpal/wood.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: .8;
}

#my-trips-content {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  margin: auto;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 70%;

}

#my-trip-text{
  font-size: 4em;

}

#no-trips-title{
font-size: 3em;
}

#trip-delete-link{
  font-size: 2em;
  margin-left: 150px;
}

#trip-itinerary-link{
  font-size: 2em;
  float: left;
}


#create-trip-link{
  position: absolute;
  bottom: 4%;
  font-size: 1.7em;
  left: 44%;
}


//CSS FOR USER SIGN UP PAGE
#signup-background {
  background-image: asset-url('/travelpal/adventure-ball-shaped-blur-346885.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.9;
}

#signup-title {
  text-align: center;

position: absolute;
top: 0;
margin-top: 15%;
margin-left: 7%;

  // bottom: 0;
  // left: 0;
  width: 30%;
  height: 15%;
  padding: 20px;
}
#signup-text {
  font-family: 'Life Savers', cursive;
  font-size: 6em;
}

#signup-form{
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;

  top: 27%;
  right: 10%;
  height: 40%;
  padding: 25px;
  //
}




//CSS for USER LOGIN PAGE
#login-background {
  background-image: asset-url('/travelpal/antique-backdrop-background-733853.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.9;
}

#login-content {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  margin: auto;
  //
  top: 31%;
  right: 27%;
  // bottom: 0;
  // left: 0;
  width: 30%;
  height: 39%;

}

#login-form{
  width: 70%;
  margin: auto;
}

#invalid-login{
  font-size: 10px;
  color: white;
  background-color: red;
  width: 40%;
  margin: auto;
}

#login-text{
  font-family: 'Life Savers', cursive;
  font-size: 2.3em;
}
