<h1>Locations#index</h1>
<h1>Where do you want to go for your next trip?</h1>


<ul>
  <% @locations.each do |location| %>
    <li>  <%= location.city%>, <%= location.country %></li>
    <% end %>
</ul>
